/**
 * Section
 */



.section {
    padding: 1rem 2rem;
}

.section-image {
    padding: 14rem 0;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    aspect-ratio: 16 / 7;
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
    .section-title {
        font-size: 5rem;
        line-height: 5rem;
        font-weight: 50;
    }
}

.red { background: red;}