/**
 * Component Stepper
 */



.stepper {
    position: relative;
    display: flex;
    &-step {
        --button-size: 4rem;
        position: relative;
        flex: 1 0;
        display: flex; flex-direction: column; align-items: center;
        gap: 1rem;
        &-title {
            font-size: 1.2rem;
        }
        &-button {
            display: flex; align-items: center; justify-content: center;
            width: var(--button-size); height: var(--button-size);
            border-radius: calc(var(--button-size) / 2);
            border: 2px solid var(--color-light);
            color: var(--color-light);
            font-size: 1.5rem;
        }
        &.done &-button {
            border: 2px solid #4ade80;
            color: #4ade80;
        }
        &.current &-button {
            border: 2px solid var(--color-primary-500);
            color: var(--color-primary-500);
        }
        &:not(:last-child)::after {
            position: absolute; top: calc(var(--button-size) / 2); left: calc(50% + var(--button-size) / 2); //order: -1;
            content: '';
            display: block;
            width: 0; height: 2px;
            background-color: #e0e0e0;
            transition: width 1s ease-in-out;
        }
        &.done::after {
            width: calc(100% - var(--button-size));
        }
    }
}