/**
 * Footer
 */



.footer {
    position: relative;
    margin-top: 4rem;
    padding: 4rem 0 1rem;
    background-image: url('/images/craft-beer-booze-brew-alcohol-celebrate-refreshment.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    // Background blur
    &:before {
        content: '';
        position: absolute; top: 0; right: 0; bottom: 0; left: 0;
        background: linear-gradient(0deg, rgba(var(--rgb-dark), .25) 0%, var(--color-dark) 100%);
    }

    // Grid Newsletter + Follow + Find us
    &-wrapper {
        position: relative;
        display: grid;
        @include media-min('lg') {
            grid-template-columns: repeat(3, 1fr);
        }
        @include media-between('sm', 'lg') {
            grid-template-columns: repeat(2, 1fr);
        }
        @include media-max('sm') {
            grid-template-columns: 1fr;
        }
        gap: 2rem;
    }
    // Cell titles
    &-title {
        font-size: 1.2rem;
        font-weight: 300;
        text-transform: uppercase;
    }
    // Cell Newsletter
    &-newsletter {
        @include media-between('sm', 'lg') {
            grid-column: span 2;
        }
        display: flex; flex-direction: column; align-items: center;
        gap: 2rem;
        &-form {
            display: flex; flex-wrap: wrap;
            width: 100%;
            gap: 1rem;
            .form-text {
                flex-grow: 1; height: 3rem;
                padding: .5rem .5rem;
                border-radius: .5rem;
                background: rgba(var(--rgb-dark), .25);
                border: 2px var(--color-primary-500) solid;
                outline: none;
                transition: all 500ms ease-in-out;
                &::placeholder {
                    color: var(--color-primary-500);
                    text-transform: uppercase;
                    transition: color 500ms ease-in-out;
                }
                &:hover, &:focus {
                    background-color: var(--color-dark);
                    color: var(--color-primary-500);
                    &::placeholder {
                        color: var(--color-light);
                    }
                }
            }
            .form-submit {
                padding: .5rem 3rem;
                border-radius: .5rem;
                background-color: var(--color-primary-400);
                border: 2px var(--color-primary-400) solid;
                outline: none;
                color: var(--color-dark);
                text-align: center;
                text-transform: uppercase;
                font-weight: 700;
                cursor: pointer;
                transition: all 300ms ease-in-out;
                &:hover, &:focus {
                    background-color: var(--color-dark);
                    color: var(--color-primary-400);
                }
            }
            .form-label {
                display: flex; align-items: center;
                width: 100%;
                cursor: pointer;
                &:not(.active):hover .form-checkbox {
                    animation: footer-newsletter-shake 500ms ease-in-out;
                }
                &:focus-within .form-checkbox-text {
                    color: var(--color-primary-400);
                }
            }
            .form-checkbox {
                display: flex; justify-content: center; align-items: center;
                width: 2rem; height: 2rem;
                margin-right: 1rem; 
                border-radius: .5rem;
                border: 2px var(--color-primary-400) solid;
                svg {
                    width: 1rem; height: 1rem;
                    animation: footer-newsletter-check 300ms ease-in-out;
                }
                &-hidden {
                    width: 0; height: 0;
                }
                &-hidden:focus + .form-checkbox {
                    background-color: var(--color-dark);
                }
            }
        }
    }
    // Cell Follow
    &-follow {
        display: flex; flex-direction: column; align-items: center;
        gap: 2rem;
        &-social {
            display: flex; justify-content: center;
            gap: 2rem;
            &-link {
                position: relative;
                display: flex; justify-content: center; align-items: center;
                width: 4rem; height: 4rem;
                border-radius: .5rem;
                overflow: hidden;
                border: 2px var(--color-light) solid;
                outline: none;
                transition: all 500ms ease-in-out;
                &::before {
                    content: '';
                    position: absolute; top: -5%; left: -5%;
                    border-radius: .5rem;
                    width: 0; height: 0;
                    background-color: var(--color-primary-500);
                    transition: all 300ms ease-in-out;
                }
                &.facebook::before {
                    background-color: #4267B2;
                }
                &.twitter::before {
                    background-color: #1DA1F2;
                }
                &.instagram::before {
                    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                }
                &:hover::before, &:focus::before {
                    width: 110%; height: 110%;
                }
                svg {
                    position: relative;
                    width: 2rem; height: 2rem;
                }
            }
            li a:hover, li a:focus {
                transform: rotate(-5deg) scale(1.1);
                margin-left: 1rem;
                margin-right: 1rem;
            }
            li:first-child a:hover, li:last-child a:hover,
            li:first-child a:focus, li:last-child a:focus {
                transform: rotate(5deg) scale(1.1);
            }
            li:first-child a:hover, li:first-child a:focus {
                margin-right: 1rem;
            }
            li:first-child a:hover, li:first-child a:focus {
                margin-left: 1rem;
            }
        }
    }
    // Cell Find us
    &-findus {
        display: flex; flex-direction: column; align-items: center;
        gap: 2rem;
        &-link {
            position: relative;
            display: flex; flex-direction: column; align-items: center;
            gap: 1rem;
            outline: none;
            color: var(--color-primary-500);
            transition: color 500ms ease-in-out;
            &:hover, &:focus {
                color: var(--color-light);
            }
            svg {
                width: 3rem; height: 3rem;
            }
            svg, span {
                position: relative; z-index: 1;
            }
            .icon::before, .icon::after {
                content: '';
                position: absolute; top: .7rem; left:  1rem; z-index: 2;
                display: block;
                width: 1rem; height: 1rem;
                border-radius: 100%;
                transition: transform 500ms ease-in-out;
            }
            &:hover .icon::before, &:focus .icon::before {
                animation: footer-findus-map 1000ms ease-in-out infinite;
                background-color: rgba(var(--rgb-primary-500), .4);
            }
            &:hover .icon::after, &:focus .icon::after {
                animation: footer-findus-map 1000ms 100ms ease-in-out infinite;
                background-color: rgba(var(--rgb-primary-500), .4);
            }
        }
    }

    // Logo
    &-logo {
        position: relative;
        @include media-min('lg') {
            padding: 4rem 0 6rem;
        }
        @include media-max('lg') {
            padding: 2rem 0 4rem;
        }
        display: flex; justify-content: center; align-items: center;
        svg {
            @include media-min('lg') {
                width: 16rem;
            }
            @include media-max('lg') {
                width: 12rem;
            }
        }
    }

    // Bottom links
    &-bottom-links {
        position: relative;
        display: flex; justify-content: center; flex-wrap: wrap;
        gap: 0.25rem 1rem;
        font-weight: 300;
        text-transform: uppercase;
        ul {
            display: flex; justify-content: center; align-items: center; flex-wrap: wrap;
            gap: 0.25rem 1rem;
            & li:first-child {
                color: var(--color-primary-500);
            }
        }
        a {
            outline: none;
            &:after {
                content: '';
                display: block;
                border-bottom: 2px solid var(--color-primary-500);
                width: 0;
                transition: width 300ms ease-in-out;
            }
            &:hover:after, &:focus:after {
                width: 100%;
            }
        }
    }
}

@keyframes footer-newsletter-check {
    0% {
        transform: rotate(-90deg);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes footer-newsletter-shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}

@keyframes footer-findus-map {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(5);
    }
}